<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @segmentation.query %>
</p>

<%= link_to 'Edit', edit_segmentation_path(@segmentation) %> |
<%= link_to 'Back', segmentations_path %>
